<div class="card d-flex p-3">
    <h1>ESTA VISTA ESTA EN CONSTRUCCION</h1>
    <hr class="mt-2">
    <div class="d-flex justify-content-center">
        
        <div class="circulo-contenedor">
            <img src="/img/builder.gif" alt="" srcset="">
        </div>
        
    </div>
    <hr>
    <a href="./posts" class="btn btn-primary text-white" style="width: 150px;">Ir a Posts</a>
</div>