
<div class="card">
    <div class="container-fluid p-4">
        <h2>{{this.title}}</h2>

        {{{this.descripcion}}}

        <hr>
        <a href="/posts" class="btn btn-primary text-white">Volver</a>
    </div>
</div>
